{% extends "dashboard/base.html" %}

{% block title %}
Create Category
{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">

    <div class="card-header d-flex justify-content-between align-items-center">

        <h4 class="mb-0">
            Create Category
        </h4>

    </div>

    <div class="card-body">

        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Name -->

            <div class="mb-3">

                <label class="form-label">
                    Category Name
                </label>

                {{ form.name }}

                {% if form.name.errors %}
                    <div class="text-danger mt-1">
                        {{ form.name.errors }}
                    </div>
                {% endif %}

            </div>

            <!-- Russian Name -->

            <div class="mb-3">

                <label class="form-label">
                    Russian Name
                </label>

                {{ form.name_ru }}

                {% if form.name_ru.errors %}
                    <div class="text-danger mt-1">
                        {{ form.name_ru.errors }}
                    </div>
                {% endif %}

            </div>

            <!-- Slug -->

            <div class="mb-3">

                <label class="form-label">
                    Slug
                </label>

                {{ form.slug }}

                <small class="text-muted">
                    Leave empty to generate automatically.
                </small>

            </div>



            <!-- Ordering -->

            <div class="mb-3">

                <label class="form-label">
                    Ordering
                </label>

                {{ form.ordering }}

            </div>

            <!-- Active -->

            <div class="form-check mb-4">

                {{ form.is_active }}

                <label class="form-check-label">

                    Active Category

                </label>

            </div>

            <button type="submit" class="btn btn-primary">

                <i class="bi bi-check-lg"></i>

                Save Category

            </button>

            <a href="{% url 'category_list' %}" class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}