{% extends "dashboard/base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body text-center">

        <h3>

            Delete Category

        </h3>

        <p>

            Are you sure you want to delete

            <strong>

                {{ object.name }}

            </strong>?

        </p>

        <form method="post">

            {% csrf_token %}

            <button class="btn btn-danger">

                Delete

            </button>

            <a
                href="{% url 'category_detail' object.id %}"
                class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}