{% extends "dashboard/base.html" %}

{% block title %}
Edit Category
{% endblock %}

{% block content %}

<div class="card shadow-sm border-0">

    <div class="card-header">

        <h4>Edit Category</h4>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">

                    Name

                </label>

                {{ form.name }}

            </div>

            <div class="mb-4">

                <label class="form-label">

                    Russian Name

                </label>

                {{ form.name_ru }}

            </div>

            <button class="btn btn-primary">

                <i class="bi bi-check-lg"></i>

                Save Changes

            </button>

            <a
                href="{% url 'category_detail' category.id %}"
                class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}