.card{
    border-radius:18px;
}

.card-header{
    border-bottom:1px solid #ececec;
}

.form-control,
.form-select{

    height:48px;
    border-radius:12px;

}

textarea.form-control{

    height:170px;

}

.btn{

    border-radius:10px;

}