{% load i18n %}
<!DOCTYPE html>
<html>
<head>


    <title>{{ product.title }}</title>

    <link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<body>

{% include 'header.html' %}
<div class="container py-5">


<!-- BACK BUTTON -->


<div class="row">

    <!-- LEFT IMAGE -->
    <div class="col-md-6">

        {% if product.image %}
            <img id="mainImage" src="{{ product.image.url }}" class="img-fluid rounded mb-3">
        {% else %}
            <div class="bg-light text-center p-5">Rasm yo‘q</div>
        {% endif %}

        <!-- GALLERY -->
        <div class="d-flex gap-2 flex-wrap">
            {% for img in product.images.all %}
                {% if img.image %}
                    <img src="{{ img.image.url }}"
                         class="img-thumbnail"
                         style="width:80px; cursor:pointer;"
                         onclick="changeImage(this)">
                {% endif %}
            {% empty %}
                <small class="text-muted">Qo‘shimcha rasm yo‘q</small>
            {% endfor %}
        </div>

    </div>


    <!-- RIGHT INFO -->
   <div class="col-md-6">

    <h2 class="fw-bold mb-3">{{ product.title }}</h2>

    {% if product.discount > 0 %}

        <div class="d-flex align-items-center gap-2 mb-2">
            <span class="badge bg-danger fs-6">
                -{{ product.discount }}%
            </span>

            <span class="text-muted text-decoration-line-through fs-5">
                {{ product.price }} so'm
            </span>
        </div>

        <h2 class="text-success fw-bold mb-3">
            {{ product.final_price }} so'm
        </h2>

    {% else %}

        <h2 class="text-success fw-bold mb-3">
            {{ product.price }} so'm
        </h2>

    {% endif %}






        <!-- SIZE -->
    <h6 class="mt-4 mb-2">
    {% trans "Hajmi" %}:
</h6>

<div class="d-flex gap-2 flex-wrap">

    {% for s in product.sizes.all %}

        {% if s.stock > 0 %}

            <button
                type="button"
                class="btn btn-outline-dark size-btn"
                onclick="selectSize(this, '{{ s.id }}', '{{ s.stock }}')">

                {{ s.size }}


            </button>

        {% else %}

            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled>

                {{ s.size }}
                (0)

            </button>

        {% endif %}

    {% endfor %}

</div>

        <!-- STOCK -->
        <p id="stock" class="mt-3 text-muted"></p>

        <!-- QUANTITY -->
        <div class="mt-3 d-flex align-items-center gap-2">
            <button class="btn btn-outline-secondary" onclick="changeQty(-1)">-</button>
            <input type="text" id="qty" value="1" class="form-control w-25 text-center">
            <button class="btn btn-outline-secondary" onclick="changeQty(1)">+</button>
        </div>
        <form method="post" action="{% url 'add_to_cart' product.id %}">
    {% csrf_token %}

    <input type="hidden" name="size" id="selected-size">

    <input type="hidden" name="qty" id="qty-input" value="1">

    <button class="btn btn-success mt-3 w-100">
    {% trans "Savatchaga qo'shish" %}
    </button>

</form>



        <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
        {% trans "Tavsif" %}
    </li>
</ul>


<div class="border p-3">
    {{ product.description }}

</div>
        {% include 'sharh.html' %}
 </div>

</div>



</div>
{% include 'footer.html' %}

<script>

function selectSize(el, size, qty) {

    document.querySelectorAll('.size-btn').forEach(btn => {
        btn.classList.remove('active');
    });

    el.classList.add('active');

    document.getElementById('stock').innerText =
        "Mavjud: " + qty;

    document.getElementById('selected-size').value = size;
}

function changeQty(val) {

    let input = document.getElementById('qty');

    let current = parseInt(input.value) || 1;

    current += val;

    if (current < 1) current = 1;

    input.value = current;

    document.getElementById('qty-input').value = current;
}

function changeImage(el) {

    let mainImage = document.getElementById('mainImage');

    mainImage.src = el.src;
}

</script>

</body>
</html>






