{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Like</title>


       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include 'header.html' %}
<div class="container py-5">

    <h2 class="fw-bold mb-5 text-center">
    ❤️ {% trans "Like mahsulotlar" %}
</h2>

    <div class="row">

        {% for p in products %}

        <div class="col-md-3 mb-4">

            <div class="product-card position-relative">

                <!-- UNLIKE -->
                <a href="{% url 'toggle_wishlist' p.id %}"
                   class="wishlist-btn">

                    ❤️

                </a>

                <a href="{% url 'product_detail' p.id %}"
                   class="text-decoration-none text-dark">

                    <img src="{{ p.image.url }}"
                         class="product-image">

                    <div class="pt-3">

                        <h5>
                            {{ p.title }}
                        </h5>

                        <h5 class="fw-bold">
                            {{ p.price }} so'm
                        </h5>

                    </div>

                </a>

            </div>

        </div>

        {% empty %}

        <h4 class="text-center">
    {% trans "Like mahsulotlari yuq" %}
</h4>

        {% endfor %}

    </div>

</div>

<style>

.product-image{
    width:100%;
    height:380px;
    object-fit:cover;
}

.wishlist-btn{
    position:absolute;
    top:15px;
    right:15px;
    font-size:28px;
    text-decoration:none;
    z-index:10;
}

</style>
</div>
{% include 'footer.html' %}
</body>
</html>