{% extends "dashboard/base.html" %}

{% block title %}
Order #{{ order.id }}
{% endblock %}

{% block content %}

<div class="container-fluid order-detail-page">

    {% include "dashboard/orders/includes/_header.html" %}

    {% include "dashboard/orders/includes/_timeline.html" %}

    <div class="row g-4 mt-2">

        <div class="col-lg-8">

            {% include "dashboard/orders/includes/_customer.html" %}

            {% include "dashboard/orders/includes/_products.html" %}

            {% include "dashboard/orders/includes/_status_history.html" %}

            {% include "dashboard/orders/includes/_activity.html" %}

            {% include "dashboard/orders/includes/_payment_history.html" %}



        </div>

        <div class="col-lg-4">

            {% include "dashboard/orders/includes/_payment.html" %}

            {% include "dashboard/orders/includes/_delivery.html" %}

            {% include "dashboard/orders/includes/_summary.html" %}

            {% include "dashboard/orders/includes/_actions.html" %}

        </div>

    </div>

</div>

{% endblock %}